body {
    margin: 0;
}
nav {
    background-color: #3961ce;
    color: white;
    padding: 10px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: rgb(252, 223, 212);
}

footer {
    background-color: #2047b3;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.btnCart {
    background-color: transparent;
    border: none;
}

.fa-cart-shopping {
    color: white;
}

.fa-cart-shopping:hover {
    color: rgb(252, 223, 212);
}