.main-content {
    padding: 0!important;
    margin-top: 45px!important;
}

.aboutus-hero {
  background-image: url('../assets/banner.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 300px;
  position: relative;
  z-index: 1;
}

.aboutus-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.aboutus-overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.aboutus-subtitle {
  font-size: 1.2rem;
  font-weight: 300;
}

.ver-mas-btn-container {
  margin: 20px 0;
  text-align: center;
}

.ver-mas-btn {
  background-color: #2047b3;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(32, 71, 179, 0.2);
}

.ver-mas-btn:hover {
  background-color: #163a93;
  color: white;
  transform: translateY(-2px);
}

.animate-fade-in {
  animation: fadeInUp 0.6s ease-in-out both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-transition {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}