.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  max-width: 100%;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.cart-drawer.open {
  transform: translateX(0%);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  background-color: #3961CE;
}

.cart-title {
  color: rgb(249, 249, 249);
  margin: 0;
}

.cart-content {
  padding: 16px;
  flex: 1;
}

.cart-item {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-card {
   width: 100%;
  display: flex;
  gap: 12px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.cart-thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.cart-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cart-details h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #222; /* texto oscuro */
}

.cart-details p {
  margin: 0;
  font-size: 14px;
  color: #333; /* texto claro sobre blanco */
}

.cart-controls span {
  font-size: 16px;
  font-weight: 600;
  color: #222; /* cantidad visible */
}

.cart-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
}

.cart-controls button {
  min-width: 24px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  /* width: 30px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s; */
}

.cart-controls button:hover {
  background-color: #ddd;
}

.btnEliminarDelCarrito {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto;
}

.cart-total {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 10px;
  text-align: right;
  color: #111; /* texto negro */
  font-size: 18px;
  font-weight: bold;
}

.btnVaciarCarrito {
  background-color: #d60000;
  color: white;
  padding: 10px 16px;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 16px;
  width: 100%;
}

.btnVaciarCarrito:hover {
  background-color: #a80000;
}

.close-button {
  padding: 0;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #ffffff;
}

.btnSeguirTienda {
  background-color: #2047b3;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
}

.btnSeguirTienda:hover {
  background-color: #163a93;
}